<?xml version="1.0" encoding="UTF-8"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="OXPS_PASSWORDPOLICY_TWOFACTORAUTH_MYDATA">
            <SUBMENU id="OXPS_PASSWORDPOLICY_TWOFACTORAUTH_LOGIN" cl="admin_twofactoraccount">

            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>
